<div class="bw_content">

					<!-- start_bw_about_hero_section -->
					<section class="bw_about_hero_section bw_padding_y">
						<div class="bw_container">
							<div class="bw_about_hero_wrap">
								<div class="bw_about_hero_images bw_images_cover" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
									<img src="/assets/image/bank_img.jpg" alt="">	
								</div>
								<div class="bw_about_hero_content">
									<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Online plateform</h3>
									<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">About Urbanbank</h2>
									<p data-aos="fade-up" data-aos-duration="1500">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
									<p data-aos="fade-up" data-aos-duration="1500">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
								</div>
							</div>
						</div>		
					</section>
					<!-- close_bw_about_hero_section -->

					<!-- start_bw_about_page_section -->
					<section class="bw_about_page_section bw_padding_y">
						<div class="bw_container">
							<div class="bw_about_page_wrap">
								<div class="bw_title_wrap_center">
									<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">About Us</h3>
									<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">Grow our investment in year <span class="bw_title_gradient">1996 to 2021</span></h2>
								</div>
								<div class="bw_about_page_content" data-aos="zoom-in" data-aos-duration="1500">
									<canvas id="bw_about_page_charts"></canvas>
									<script >
										var ctx = document.getElementById('bw_about_page_charts').getContext('2d');
										var gradient = ctx.createLinearGradient(0, 0, 0, 1000);
										gradient.addColorStop(0, 'rgba(247, 251, 164, 0.28)');
										gradient.addColorStop(0.7, 'rgba(100, 220, 182, 0.2)');

										let gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
										gradientStroke.addColorStop(0, '#F7FBA4');
										gradientStroke.addColorStop(1, '#64DCB6');

										var myChart = new Chart(ctx, {
											type: 'line',
											data: {
												labels: ['0', '1996', '19999', '2002', '2005', '2012', '2018', '2021'],
												datasets: [{
													backgroundColor: gradient,
													label: '',
													fill: true,
													data: [0, 1, 0.5, 2, 1.5, 3, 2.5, 4],
													pointRadius: 5,
													pointBorderColor: [
														'rgb(255 255 255)'
														],
													pointBackgroundColor: gradientStroke,
													borderWidth: 3,
													borderColor: [
														'rgba(247, 251, 164, 1)',
														'rgba(217, 217, 217, 1)'
														],
												}]
											},
											options: {
												display: false,
												scales: {
													y: {
														display: false,
														beginAtZero: true
													},
													x: {
														display: false,
														beginAtZero: true
													},
												},
												tension: 0.4,
												plugins: {
													legend: {
														display: false
													}
												}
											},
										});
									</script>

								</div>
							</div>
						</div>		
					</section>
					<!-- close_bw_about_section -->


					<!-- start_bw_money_section -->
					<section class="bw_money_section bw_padding_y">
						<div class="bw_container">
							<div class="bw_money_wrap">

								<div class="bw_money_content">
									<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Money</h3>
									<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">Transfer & deposite anytime, anywhere</h2>
									<p data-aos="fade-up" data-aos-duration="1500">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
									<p data-aos="fade-up" data-aos-duration="1500">These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided.</p>
									<p data-aos="fade-up" data-aos-duration="1500">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
								</div>
								<div class="bw_money_images bw_images_cover" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
									<img src="/assets/image/money.png" alt="">	
								</div>
							</div>
						</div>		
					</section>
					<!-- close_bw_money_section -->


					<!-- start_bw_team_slider_section -->
					<section class="bw_team_slider_section bw_padding_y">
						<div class="bw_container">
							<div class="bw_team_slider_wrap">
								<div class="bw_team_content">
									<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Team</h3>
									<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">Our best skill person</h2>
								</div>
								<div class="bw_team_slider_wrap" data-aos="fade-up" data-aos-duration="1500">
									<div class="swiper mySwiper">
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												<div class="bw_team_detail_box">
													<div class="bw_team_detail_img bw_images_cover">
														<img src="/assets/image/team-1.jpg" alt="">
													</div>
													<h6><a href="/team/dale-baryant">Dale baryant</a></h6>
													<p>CEO & Co-founder</p>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="bw_team_detail_box">
													<div class="bw_team_detail_img bw_images_cover">
														<img src="/assets/image/team-2.jpg" alt="">
													</div>
													<h6><a href="/team/dale-baryant">Thomoson pitersons</a></h6>
													<p>CEO & Co-founder</p>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="bw_team_detail_box">
													<div class="bw_team_detail_img bw_images_cover">
														<img src="/assets/image/team-3.jpg" alt="">
													</div>
													<h6><a href="/team/dale-baryant">Dale baryant</a></h6>
													<p>CEO & Co-founder</p>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="bw_team_detail_box">
													<div class="bw_team_detail_img bw_images_cover">
														<img src="/assets/image/team-4.jpg" alt="">
													</div>
													<h6><a href="/team/dale-baryant">Dale baryant</a></h6>
													<p>CEO & Co-founder</p>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="bw_team_detail_box">
													<div class="bw_team_detail_img bw_images_cover">
														<img src="/assets/image/team-5.jpg" alt="">
													</div>
													<h6><a href="/team/dale-baryant">Thomoson pitersons</a></h6>
													<p>CEO & Co-founder</p>
												</div>
											</div>
											<div class="swiper-slide">
												<div class="bw_team_detail_box">
													<div class="bw_team_detail_img bw_images_cover">
														<img src="/assets/image/team-6.jpg" alt="">
													</div>
													<h6><a href="/team/dale-baryant">Michael fazio</a></h6>
													<p>CEO & Co-founder</p>
												</div>
											</div>
										</div>
										<div class="swiper-pagination"></div>
									</div>

								</div>
							</div>
						</div>
					</section>

					<!-- start_bw_team_popup -->
					<div id="bw_team_popup" class="white-popup-block mfp-hide">
						<div class="bw_team_popup">
							<div class="bw_team_popup_img">
								<img src="/assets/image/team-3.jpg" alt="">
							</div>
							<div class="bw_team_popup_content">
								<h3>Michael fazio</h3>
								<sub>CEO & Co-founder</sub>
								<p>it will frequently occur that pleasures have to be repudiated and annoyances accepted</p>
								<div class="bw_team_popup_content_nots">If any query then contact to us.</div>
								<ul class="bw_team_contact_detail">
									<li><a href="mailto:michaelceo@gmail.com">michaelceo@gmail.com</a></li>
									<li><a href="tel:+(65)6565365695">+(65) 656 536 5695 </a></li>
								</ul>
								<div class="bw_social_icon_box">
									<ul>
										<li><a href="javascript:;"><img src="/assets/image/facebook.svg" alt=""></a></li>
										<li><a href="javascript:;"><img src="/assets/image/twitter.svg" alt=""></a></li>
										<li><a href="javascript:;"><img src="/assets/image/instagram.svg" alt=""></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- close_bw_team_popup -->

					<!-- close_bw_team_slider_section -->


					
					<!-- start_bw_feature_section -->
					<section class="bw_feature_section bw_padding_y">
						<div class="bw_container">
							<div class="bw_feature_content">
								<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Feature</h3>
								<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">Best feature provide by Urban</h2>
							</div>
							<div class="bw_feature_wrap">
								<div class="bw_feature_box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
									<h4><a href="/feature/multi-device">Multi Device</a></h4>
									<p>Use Urban Bank on phone, tablet, and desktop with the same secure login.</p>
								</div>
								<div class="bw_feature_box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
									<h4><a href="/feature-credit-cards">Credit cards</a></h4>
									<p>Card limits, rewards, and statements stay in one place.</p>
								</div>
								<div class="bw_feature_box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
									<h4><a href="/feature-mobile-banking">Mobile banking</a></h4>
									<p>Send money and check balances without visiting a branch.</p>
								</div>
							</div>
						</div>
					</section>
					<!-- close_bw_feature_section -->

					<!-- start_bw_partners_section -->
					<section class="bw_partners_section bw_padding_y">
						<div class="bw_container">
							<div class="bw_partners_main">
								<div class="bw_partners_content bw_title_wrap_center">
									<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Partners</h3>
									<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">Meet our trusted partners</h2>
								</div>
								<div class="bw_partners_wrap">
									<div class="bw_partners_box" data-aos="zoom-in-down" data-aos-duration="1500"><img src="/assets/image/logo_slider_1.png" alt=""></div>
									<div class="bw_partners_box" data-aos="zoom-in-down" data-aos-duration="1500"><img src="/assets/image/logo_slider_2.png" alt=""></div>
									<div class="bw_partners_box" data-aos="zoom-in-down" data-aos-duration="1500"><img src="/assets/image/logo_slider_3.png" alt=""></div>
									<div class="bw_partners_box" data-aos="zoom-in-down" data-aos-duration="1500"><img src="/assets/image/logo_slider_4.png" alt=""></div>
									<div class="bw_partners_box" data-aos="zoom-in-down" data-aos-duration="1500"><img src="/assets/image/logo_slider_5.png" alt=""></div>
									<div class="bw_partners_box" data-aos="zoom-in-down" data-aos-duration="1500"><img src="/assets/image/logo_slider_6.png" alt=""></div>
									<div class="bw_partners_box" data-aos="zoom-in-down" data-aos-duration="1500"><img src="/assets/image/logo_slider_7.png" alt=""></div>
									<div class="bw_partners_box" data-aos="zoom-in-down" data-aos-duration="1500"><img src="/assets/image/logo_slider_8.png" alt=""></div>
								</div>
							</div>
						</div>
					</section>
					<!-- close_bw_partners_section -->

					<!-- start_bw_blog_section -->
					<section class="bw_blog_page_section bw_padding_y">
						<div class="bw_container">
							<div class="bw_blog_content">
								<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Blog</h3>
								<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">Get more news & resources</h2>
							</div>
							<div class="bw_blog_page_wrap">
								<div class="bw_blog_card_box" data-aos="fade-up" data-aos-duration="1500">
									<div class="bw_blog_card_img">
										<img src="/assets/image/Rectangle 51 (2).png" alt="">
										<div class="bw_blog_badge"><span>Bank</span></div>
									</div>
									<div class="bw_blog_card_cont">
										<h5><a href="/blog/clear-fees-before-you-send">How Urban keeps transfers readable</a></h5>
										<p>A short note on why we show fees before you confirm a payment.</p>
										<div class="bw_blog_button_wrap">
											<a class="bw_custom_buttom bw_flex_btn" href="/blog/clear-fees-before-you-send">Learn more <span class="material-symbols-sharp">chevron_right</span></a>
											<p>September 19, 2023</p>
										</div>
									</div>
								</div>
								<div class="bw_blog_card_box" data-aos="fade-up" data-aos-duration="1500">
									<div class="bw_blog_card_img">
										<img src="/assets/image/Rectangle 51.png" alt="">
										<div class="bw_blog_badge"><span>Bank</span></div>
									</div>
									<div class="bw_blog_card_cont">
										<h5><a href="/blog/cards-that-show-the-rate">Opening a business account in one visit</a></h5>
										<p>What to bring and how long the review usually takes.</p>
										<div class="bw_blog_button_wrap">
											<a class="bw_custom_buttom bw_flex_btn" href="/blog/cards-that-show-the-rate">Learn more <span class="material-symbols-sharp">chevron_right</span></a>
											<p>September 19, 2023</p>
										</div>
									</div>
								</div>
								<div class="bw_blog_card_box" data-aos="fade-up" data-aos-duration="1500">
									<div class="bw_blog_card_img">
										<img src="/assets/image/Rectangle 52.png" alt="">
										<div class="bw_blog_badge"><span>Bank</span></div>
									</div>
									<div class="bw_blog_card_cont">
										<h5><a href="/blog/clear-fees-before-you-send">Card limits that match your team</a></h5>
										<p>Set spend caps per card without calling the branch.</p>
										<div class="bw_blog_button_wrap">
											<a class="bw_custom_buttom bw_flex_btn" href="/blog/clear-fees-before-you-send">Learn more <span class="material-symbols-sharp">chevron_right</span></a>
											<p>September 19, 2023</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- close_bw_blog_section -->

				</div>
