<div class="bw_content">

					<!-- start_bw_faq_page_section -->
					<section class="bw_faq_page_section bw_padding_y">
						<div class="bw_container">
							<div class="bw_faq_page_wrap">
								<div class="bw_faq_page_content bw_title_wrap_center">
									<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">FAQ</h3>
									<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">Our FAQ’s</h2>
								</div>
								<div class="accordion">
									<div class="accordion-item" data-aos="fade-up" data-aos-duration="1500">
										<div class="accordion-tabs acco-active">
											<h5><span class="accordion-title">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</span><span class="material-symbols-sharp accordion_icon">remove</span></h5>
										</div>
										<div class="accordion-content">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										</div>
									</div>
									<div class="accordion-item" data-aos="fade-up" data-aos-duration="1500">
										<div class="accordion-tabs">
											<h5><span class="accordion-title">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</span><span class="material-symbols-sharp accordion_icon">add</span></h5>
										</div>
										<div class="accordion-content" style="display: none;">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										</div>
									</div>
									<div class="accordion-item" data-aos="fade-up" data-aos-duration="1500">
										<div class="accordion-tabs">
											<h5><span class="accordion-title">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</span><span class="material-symbols-sharp accordion_icon">add</span></h5>
										</div>
										<div class="accordion-content" style="display: none;">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										</div>
									</div>
									<div class="accordion-item" data-aos="fade-up" data-aos-duration="1500">
										<div class="accordion-tabs">
											<h5><span class="accordion-title">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</span><span class="material-symbols-sharp accordion_icon">add</span></h5>
										</div>
										<div class="accordion-content" style="display: none;">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										</div>
									</div>
								</div>
								<div class="bw_faq_page_btn" data-aos="fade-up" data-aos-duration="1500">
									<a class="bw_custom_buttom bw_flex_btn bw_load_more" href="javascript:;">Load more <span class="material-symbols-outlined">refresh</span></a>
								</div>
							</div>
						</div>
					</section>
					<!-- close_bw_faq_page_section -->

				</div>
