<div class="bw_content">

					<!-- start_bw_pricing_page_section -->
					<section class="bw_pricing_page_section bw_padding_y">
						<div class="bw_container">
							<div class="bw_pricing_content">
								<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Pricing</h3>
								<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">We give the special price</h2>
							</div>
							<div class="bw_blog_page_wrap bw_pricing_page_wrap" data-aos="fade-up" data-aos-duration="1500">
								<div class="bw_blog_card_box bw_pricing_card_box">
									<div class="bw_blog_card_cont">
										<h5>Basic</h5>
										<div class="bw_price_box">
											<div class="bw_currency">$69</div>
											<div class="bw_plan">Per Month</div>
										</div>
										<div class="bw_plane_list">
											<ul>
												<li class="bw_plane-item">
													<div class="bw_plane-item-img">
														<img src="/assets/image/check-box (1).png">
													</div>
													<div class="bw_plane-item-contant">
														<p>Free Mobile & Online App</p>
													</div>
												</li>
												<li class="bw_plane-item">
													<div class="bw_plane-item-img">
														<img src="/assets/image/check-box (1).png">
													</div>
													<div class="bw_plane-item-contant">
														<p>Cras a quam vitae sem</p>
													</div>
												</li>
												<li class="bw_plane-item">
													<div class="bw_plane-item-img">
														<img src="/assets/image/check-box (1).png">
													</div>
													<div class="bw_plane-item-contant">
														<p>Online System</p>
													</div>
												</li>
												<li class="bw_plane-item">
													<div class="bw_plane-item-img">
														<img src="/assets/image/check-box (1).png">
													</div>
													<div class="bw_plane-item-contant">
														<p>Business Mastercard</p>
													</div>
												</li>
												<li class="bw_plane-item">
													<div class="bw_plane-item-img">
														<img src="/assets/image/check-box (2).png">
													</div>
													<div class="bw_plane-item-contant">
														<p>24/7 Support</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="bw_faq_page_btn">
										<a class="bw_custom_buttom bw_flex_btn" href="/login">Choose Plan <span class="material-symbols-sharp">chevron_right</span></a>
									</div>
								</div>
								<div class="bw_blog_card_box bw_pricing_card_box bw_pricing_card_box_2 hot-badge">

									<div class="bw_blog_card_cont">
										
										<h5>Standard</h5>
										<div class="bw_price_box">
											<div class="bw_currency">$69</div>
											<div class="bw_plan">Per Month</div>
										</div>
										<div class="bw_plane_list">
											<ul>
												<li class="bw_plane-item">
													<div class="bw_plane-item-img">
														<img src="/assets/image/check-box (1).png">
													</div>
													<div class="bw_plane-item-contant">
														<p>Free Mobile & Online App</p>
													</div>
												</li>
												<li class="bw_plane-item">
													<div class="bw_plane-item-img">
														<img src="/assets/image/check-box (1).png">
													</div>
													<div class="bw_plane-item-contant">
														<p>Cras a quam vitae sem</p>
													</div>
												</li>
												<li class="bw_plane-item">
													<div class="bw_plane-item-img">
														<img src="/assets/image/check-box (1).png">
													</div>
													<div class="bw_plane-item-contant">
														<p>Online System</p>
													</div>
												</li>
												<li class="bw_plane-item">
													<div class="bw_plane-item-img">
														<img src="/assets/image/check-box (2).png">
													</div>
													<div class="bw_plane-item-contant">
														<p>Business Mastercard</p>
													</div>
												</li>
												<li class="bw_plane-item">
													<div class="bw_plane-item-img">
														<img src="/assets/image/check-box (2).png">
													</div>
													<div class="bw_plane-item-contant">
														<p>24/7 Support</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="bw_faq_page_btn">
										<a class="bw_custom_buttom bw_flex_btn" href="/login">Choose Plan <span class="material-symbols-sharp">chevron_right</span></a>
									</div>
								</div>
								<div class="bw_blog_card_box bw_pricing_card_box">
									<div class="bw_blog_card_cont">
										<h5>Premium</h5>
										<div class="bw_price_box">
											<div class="bw_currency">$69</div>
											<div class="bw_plan">Per Month</div>
										</div>
										<div class="bw_plane_list">
											<ul>
												<li class="bw_plane-item">
													<div class="bw_plane-item-img">
														<img src="/assets/image/check-box (1).png">
													</div>
													<div class="bw_plane-item-contant">
														<p>Free Mobile & Online App</p>
													</div>
												</li>
												<li class="bw_plane-item">
													<div class="bw_plane-item-img">
														<img src="/assets/image/check-box (1).png">
													</div>
													<div class="bw_plane-item-contant">
														<p>Cras a quam vitae sem</p>
													</div>
												</li>
												<li class="bw_plane-item">
													<div class="bw_plane-item-img">
														<img src="/assets/image/check-box (1).png">
													</div>
													<div class="bw_plane-item-contant">
														<p>Online System</p>
													</div>
												</li>
												<li class="bw_plane-item">
													<div class="bw_plane-item-img">
														<img src="/assets/image/check-box (1).png">
													</div>
													<div class="bw_plane-item-contant">
														<p>Business Mastercard</p>
													</div>
												</li>
												<li class="bw_plane-item">
													<div class="bw_plane-item-img">
														<img src="/assets/image/check-box (2).png">
													</div>
													<div class="bw_plane-item-contant">
														<p>24/7 Support</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="bw_faq_page_btn">
										<a class="bw_custom_buttom bw_flex_btn" href="/login">Choose Plan <span class="material-symbols-sharp">chevron_right</span></a>
									</div>
								</div>
							</div>
						</div>	
					</section>
					<!-- close_bw_blog_page_section -->

				</div>
