<div class="bw_content">


					<!-- start_bw_privacy_policy_section -->
					<section class="bw_privacy_policy_section bw_padding_y">
						<div class="bw_container">
							<div class="bw_privacy_policy_detail_content">
								<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Privacy Policy</h3>
								<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">Privacy Policy</h2>
								
								<div class="bw_privacy_policy_textarea bw_feature_detail_textarea">
									<h4 data-aos="fade-up" data-aos-duration="1500">1. Information Collection:</h4>
									<p data-aos="fade-up" data-aos-duration="1500">Sed ut perspiciatis unde omnis iste natus error sit voluptate maccusantiuaconi sectetur adipiscing elit. Proin in magna augue. Donec varius sem vel gravidaau ultrices.
									Integer ornare tincidunt est, at pellentesque augue imperdiet quis. oriemque laudantium magna augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in magna augue. Donec varius sem vel gravida ultrices. Integer ornare tincidunt est, at pellentesque augue imperdiet quis. Suspendisse potenti. Pellentesque finibus tellus eget luctus faucibus. Sed rhoncus ipsum nec ultricies lacinia.Aliquam est augue, pretium at sodales ut, tempus eu nisi. Phasellus at vestibulum sapien. Aliquam condimentum efficitur pharetra. Cras sed odio sodales, viverra purus vitae, dignissim dui.</p>
									
								</div>
								<div class="bw_privacy_policy_textarea bw_feature_detail_textarea">
									<h4 data-aos="fade-up" data-aos-duration="1500">2. Collecting personal information:</h4>
									<p data-aos="fade-up" data-aos-duration="1500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in magna augue. Donec varius sem vel gravida ultrices. Integer ornare tincidunt est, at pellentesque augue imperdiet quis. Suspendisse  </p>
									<p data-aos="fade-up" data-aos-duration="1500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime nulla minus quasi. Voluptatem, company name saepe ullam autem magni quod sint tempore, eius molestias aliquam debitis. Neque saepe dignissimos repudiandae fuga. </p>
									
								</div>
								<div class="bw_privacy_policy_textarea bw_feature_detail_textarea">
									<h4 data-aos="fade-up" data-aos-duration="1500">3. Contact by the company:</h4>
									<p data-aos="fade-up" data-aos-duration="1500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in magna augue. Donec varius sem vel gravida ultrices. Integer ornare tincidunt est, at pellentesque augue imperdiet quis. Suspendisse  Proin in magna augue. Donec varius sem vel gravida ultrices. Integer ornare tincidunt est, at pellentesque augue imperdiet quis. Suspendis
									se potenti. Pellentesque finibus tellus eget luctus faucibus. Sed rhoncus ipsum nec ultricies lacinia. In hac habitasse platea dictumst. </p>
									<div class="bw_privacy_policy_check_box">
										<div data-aos="fade-up" data-aos-duration="1500" class="bw_custom_checkbox_wrap">
											<div class="bw_custom_checkbox_item">
												<input type="checkbox" id="bw_privacy_check1" name="check">
											</div>
											<label for="bw_privacy_check1">Save my name,email,website addres in this browser for the next time I commnet.</label>
										</div>
										<div data-aos="fade-up" data-aos-duration="1500" class="bw_custom_checkbox_wrap">
											<div class="bw_custom_checkbox_item">
												<input type="checkbox" id="bw_privacy_check2" name="check">
											</div>
											<label for="bw_privacy_check2">Quisque velit nisi, pretium ut lacinia in, elementum id enim.</label>
										</div>
										<div data-aos="fade-up" data-aos-duration="1500" class="bw_custom_checkbox_wrap">
											<div class="bw_custom_checkbox_item">
												<input type="checkbox" id="bw_privacy_check3" name="check">
											</div>
											<label for="bw_privacy_check3">Aliquam est augue, pretium at sodales ut, tempus eu nisi. Phasellus at vestibulum sapien.</label>
										</div>
										<div data-aos="fade-up" data-aos-duration="1500" class="bw_custom_checkbox_wrap">
											<div class="bw_custom_checkbox_item">
												<input type="checkbox" id="bw_privacy_check4" name="check">
											</div>
											<label for="bw_privacy_check4">Consectetur adipisicing elit. Voluptatibus, dignissimos.</label>
										</div>
									</div>
								</div>
								<div class="bw_privacy_policy_textarea bw_feature_detail_textarea">
									<h4 data-aos="fade-up" data-aos-duration="1500">4. The Collection, Process, and Use of Personal Data:</h4>
									<p data-aos="fade-up" data-aos-duration="1500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in magna augue. Donec varius sem vel gravida ultrices. Integer ornare tincidunt est, at pellentesque augue imperdiet quis. Suspendisse  Proin in magna augue. Donec varius sem vel gravida ultrices. Integer ornare tincidunt est, at pellentesque augue imperdiet quis. Suspendis
									se potenti. Pellentesque finibus tellus eget luctus faucibus. Sed rhoncus ipsum nec ultricies lacinia. In hac habitasse platea dictumst.Aliquam condimentum efficitur pharetra. Cras sed odio sodales, viverra purus vitae, dignissim dui. Duis bibendum placerat ligula eget volutpat. Aenean sit amet lacinia leo. Fusce dapibus in felis nec rhoncus. Phasellus vel malesuada nisl. Curabitur ullamcorper orci eu imperdiet lobortis.</p>
								</div>
								<div class="bw_privacy_policy_textarea bw_feature_detail_textarea">
									<h4 data-aos="fade-up" data-aos-duration="1500">5. Data Protection:</h4>
									<p data-aos="fade-up" data-aos-duration="1500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in magna augue. Donec varius sem vel gravida ultrices. Integer ornare tincidunt est, at pellentesque augue imperdiet quis. Suspendisse  Proin in magna augue. Donec varius sem vel gravida ultrices. Integer ornare tincidunt est, at pellentesque augue imperdiet quis. Suspendis
									se potenti. Pellentesque finibus tellus eget luctus faucibus. Sed rhoncus ipsum nec ultricies lacinia.</p>
								</div>
								<div class="bw_privacy_policy_textarea bw_feature_detail_textarea">
									<h4 data-aos="fade-up" data-aos-duration="1500">6.  Our Policy For Age Under 18:</h4>
									<p data-aos="fade-up" data-aos-duration="1500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in magna augue. Donec varius sem vel gravida ultrices. Integer ornare tincidunt est, at pellentesque augue imperdiet quis.</p>
								</div>
							</div>
						</div>		
					</section>
					<!-- close_bw_feature_detail_section -->
					
				</div>
