<div class="bw_content">

					<!-- start_bw_team_section -->
					<section class="bw_team_section bw_padding_y">
						<div class="bw_container">
							<div class="bw_team_content bw_title_wrap_center">
								<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Team</h3>
								<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">Our best skill person</h2>
							</div>
							<div class="bw_team_wrap">
								{{ collection:team sort="order:asc" }}
								<div class="bw_team_detail_box" data-aos="zoom-out" data-aos-duration="1500">
									<div class="bw_team_detail_img bw_images_cover">
										<img src="/assets/{{ image }}" alt="{{ title }}">
									</div>
									<h6><a href="{{ url }}">{{ title }}</a></h6>
									<p>{{ role }}</p>
								</div>
								{{ /collection:team }}
							</div>
							<div class="bw_team_btn" data-aos="fade-up" data-aos-duration="1500">
								<a class="bw_custom_buttom bw_flex_btn bw_load_more" href="/team/dale-baryant">Load more <span class="material-symbols-outlined">refresh</span></a>
							</div>
						</div>
					</section>
					<!-- close_bw_team_section -->

					<!-- start_bw_team_popup -->
					<div id="bw_team_popup" class="white-popup-block mfp-hide">
						<div class="bw_team_popup">
							<div class="bw_team_popup_img">
								<img src="/assets/image/team-3.jpg" alt="">
							</div>
							<div class="bw_team_popup_content">
								<h3>Michael fazio</h3>
								<sub>CEO & Co-founder</sub>
								<p>it will frequently occur that pleasures have to be repudiated and annoyances accepted</p>
								<div class="bw_team_popup_content_nots">If any query then contact to us.</div>
								<ul class="bw_team_contact_detail">
									<li><a href="mailto:michaelceo@gmail.com">michaelceo@gmail.com</a></li>
									<li><a href="tel:+(65)6565365695">+(65) 656 536 5695 </a></li>
								</ul>
								<div class="bw_social_icon_box">
									<ul>
										<li><a href="javascript:;"><img src="/assets/image/facebook.svg" alt=""></a></li>
										<li><a href="javascript:;"><img src="/assets/image/twitter.svg" alt=""></a></li>
										<li><a href="javascript:;"><img src="/assets/image/instagram.svg" alt=""></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- close_bw_team_popup -->

				</div>
