<div class="bw_content">
					<section class="bw_error_page_section">
						<div class="bw_container">
							<div class="bw_error_page_wrap">
								<div class="error-shape" data-aos="fade-down" data-aos-duration="1000">
									<h4>404</h4>
									<h5>{{ setting:error_title ?? 'Page not found' }}</h5>
								</div>
								{{ if setting:error_text }}<p class="bw_description" data-aos="fade-up" data-aos-duration="1000">{{ setting:error_text }}</p>{{ /if }}
								<div class="bw_error_btn" data-aos="fade-up" data-aos-duration="1000">
									<a class="bw_custom_buttom" href="/">Go to main page</a>
								</div>
							</div>
						</div>
					</section>
				</div>
