<!-- start_bw_header_two -->
	<header class="bw_header_two">
		<div class="bw_top_header">
			<div class="bw_container">
				<div class="bw_top_header_content">
					<div class="bw_phone_email">
						<a href="tel:+919871287676" class="bw_phone"><img src="/assets/image/phone.png" alt="">+91 98712 87676</a>
						<a href="mailto:info@webmail.com" class="bw_email"><img src="/assets/image/email.png" alt="">info@webmail.com</a>
					</div>
					<div class="bw_header_social">
						<a href="javascript:;" class="bw_"><img src="/assets/image/facebook.png" alt=""></a>
						<a href="javascript:;" class="bw_"><img src="/assets/image/twitter.png" alt=""></a>
						<a href="javascript:;" class="bw_"><img src="/assets/image/linkedin.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
		<div class="bw_container">
			<div class="bw_header_contant">
				<div class="bw_header_logo_content">
					<a href="/"><img src="/assets/image/logo.png" alt=""></a>
				</div>
				<ul class="bw_all_menu">
					<li class="bw_header_dropdown">
						<a href="javascript:;" class="bw_dropdown_hover">Home <span class="material-symbols-sharp">expand_more</span></a>
						<div class="bw_header_dropdown_menu bw_home_dropdown_menu">
							<div class="bw_header_dropdown_menu_title"><span>Home</span></div>
							<ul>
								<li><a class="bw_header_dropdown_item" href="/">Home-1</a></li>
								<li><a class="bw_header_dropdown_item" href="/home-two">Home-2</a></li>
								<li><a class="bw_header_dropdown_item" href="/home-three">Home-3</a></li>
							</ul>
						</div>
					</li>
					<li><a href="/about">About us</a></li>
					<li><a href="/feature">Feature</a></li>
					<li class="bw_header_dropdown bw_mega_dropdown">
						<a href="javascript:;" class="bw_dropdown_hover">Page <span class="material-symbols-sharp">expand_more</span></a>
												<div class="bw_header_dropdown_menu bw_mega_menu">
							<div class="bw_mega_col">
								<div class="bw_header_dropdown_menu_title"><span>Home</span></div>
								<ul>
									<li><a class="bw_header_dropdown_item" href="/">Home-1</a></li>
									<li><a class="bw_header_dropdown_item" href="/home-two">Home-2</a></li>
								<li><a class="bw_header_dropdown_item" href="/home-three">Home-3</a></li>
									<li><a class="bw_header_dropdown_item" href="/banner">Banner</a></li>
									<li><a class="bw_header_dropdown_item" href="/presentation">All pages</a></li>
								</ul>
							</div>
							<div class="bw_mega_col">
								<div class="bw_header_dropdown_menu_title"><span>Company</span></div>
								<ul>
									<li><a class="bw_header_dropdown_item" href="/about">About</a></li>
									<li><a class="bw_header_dropdown_item" href="/team">Team</a></li>
									<li><a class="bw_header_dropdown_item" href="/team/dale-baryant">Team Detail</a></li>
									<li><a class="bw_header_dropdown_item" href="/career">Career</a></li>
									<li><a class="bw_header_dropdown_item" href="/career/react-native-developer">Career Detail</a></li>
									<li><a class="bw_header_dropdown_item" href="/contact">Contact</a></li>
								</ul>
							</div>
							<div class="bw_mega_col">
								<div class="bw_header_dropdown_menu_title"><span>Features</span></div>
								<ul>
									<li><a class="bw_header_dropdown_item" href="/feature">Feature</a></li>
									<li><a class="bw_header_dropdown_item" href="/feature/multi-device">Feature Detail</a></li>
									<li><a class="bw_header_dropdown_item" href="/feature-credit-cards">Credit cards</a></li>
									<li><a class="bw_header_dropdown_item" href="/feature-business-loans">Business loans</a></li>
									<li><a class="bw_header_dropdown_item" href="/feature-mobile-banking">Mobile banking</a></li>
									<li><a class="bw_header_dropdown_item" href="/pricing">Pricing</a></li>
									<li><a class="bw_header_dropdown_item" href="/offers">Offers</a></li>
									<li><a class="bw_header_dropdown_item" href="/offers/checking-perks">Offer Detail</a></li>
								</ul>
							</div>
							<div class="bw_mega_col">
								<div class="bw_header_dropdown_menu_title"><span>More</span></div>
								<ul>
									<li><a class="bw_header_dropdown_item" href="/blog">Blog-1</a></li>
									<li><a class="bw_header_dropdown_item" href="/blog-two">Blog-2</a></li>
									<li><a class="bw_header_dropdown_item" href="/blog-three">Blog-3</a></li>
									<li><a class="bw_header_dropdown_item" href="/blog/clear-fees-before-you-send">Blog Detail</a></li>
									<li><a class="bw_header_dropdown_item" href="/faq">FAQ-1</a></li>
									<li><a class="bw_header_dropdown_item" href="/faq-two">FAQ-2</a></li>
									<li><a class="bw_header_dropdown_item" href="/privacy-policy">Privacy Policy</a></li>
									<li><a class="bw_header_dropdown_item" href="/terms">Terms Of Service</a></li>
									<li><a class="bw_header_dropdown_item" href="/login">Login</a></li>
									<li><a class="bw_header_dropdown_item" href="/404">Error</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li><a href="/contact">Contact</a></li>
				</ul>
				<div class="bw_mobile_menu_icon">
					<a href="javascript:;"><span class="material-symbols-outlined">menu</span></a>
				</div>
				<a class="bw_custom_buttom bw_flex_btn" href="/login">Open an account <span class="material-symbols-sharp">chevron_right</span></a>
			</div>
			<!-- start-mobile-menu -->
			<div class="bw_mobile_menu_wrap">
				<div class="bw_container">
					<div class="bw_mobile_menu_wrap_inner">
						<div class="bw_mobile_menu_closer">
							<span class="material-symbols-outlined">close</span>
						</div>
						<div class="bw_mobile_menu_wrap_logo">
							<a href="/"><img src="/assets/image/logo.png" alt=""></a>
						</div>
						<ul class="bw_mobile_menu_ul">
							<li class="bw_drop_down_wrap"><a href="javascript:;" class="bw_dropdown_click">Home <span class="material-symbols-sharp">expand_more</span></a>
								<ul class="bw_dropdown_menu">
									<li><a class="bw_dropdown_item" href="/">Home-1</a></li>
									<li><a class="bw_dropdown_item" href="/home-two">Home-2</a></li>
								<li><a class="bw_dropdown_item" href="/home-three">Home-3</a></li>
								</ul>
							</li>
							<li><a href="/about">About us</a></li>
							<li><a href="/feature">Feature</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
						<div class="bw_mobile_menu_button"><a class="bw_custom_buttom bw_flex_btn" href="/login">Open an account <span class="material-symbols-sharp">chevron_right</span></a></div>
					</div>
				</div>
			</div>
			<!-- End-mobile-menu -->
		</div>
	</header>
	<!-- close_bw_header_two -->
