								<div class="bw_blog_wrap" data-aos="fade-up" data-aos-duration="1500">
									<div class="swiper mySwiper">
										<div class="swiper-wrapper">
											{{ collection:blogs limit="6" sort="date:desc" }}
											<div class="swiper-slide">
												<div class="bw_blog_card_box">
													{{ if image }}
													<div class="bw_blog_card_img">
														<img src="{{ image }}" alt="{{ title }}">
														<div class="bw_blog_badge"><span>Bank</span></div>
													</div>
													{{ /if }}
													<div class="bw_blog_card_cont">
														<h5><a href="{{ url }}">{{ title }}</a></h5>
														{{ if excerpt }}<p>{{ excerpt }}</p>{{ /if }}
														<div class="bw_blog_button_wrap">
															<a class="bw_custom_buttom bw_flex_btn" href="{{ url }}">Learn more
																<span class="material-symbols-sharp">chevron_right</span>
															</a>
															{{ if date }}<p>{{ date format="F j, Y" }}</p>{{ /if }}
														</div>
													</div>
												</div>
											</div>
											{{ /collection:blogs }}
										</div>
									</div>
								</div>
