<!-- start_bw_menubar_wrap -->
	<div class="bw_menubar_wrap" id="bw-menubar" aria-hidden="true" inert>
		<div class="bw_container">
			<div class="bw_menubar_content">
				<button type="button" class="bw_menubar_close" aria-label="Close menu">
					<span class="material-symbols-rounded" aria-hidden="true">close</span>
				</button>
				<ul class="bw_menubar_menu">
					{{ nav:header_menu }}
					{{ if id == "page-mega" }}
					<li class="bw_drop_down_wrap"><a href="{{ url ?? '#' }}" class="bw_dropdown_click">{{ title }} <span class="material-symbols-sharp" aria-hidden="true">expand_more</span></a>
						<ul class="bw_dropdown_menu">
							{{ partial:partials/nav-page-links }}
						</ul>
					</li>
					{{ elseif children }}
					<li class="bw_drop_down_wrap"><a href="{{ url }}" class="bw_dropdown_click">{{ title }} <span class="material-symbols-sharp" aria-hidden="true">expand_more</span></a>
						<ul class="bw_dropdown_menu">
							{{ children }}
							<li><a class="bw_dropdown_item" href="{{ url }}">{{ title }}</a></li>
							{{ /children }}
						</ul>
					</li>
					{{ else }}
					<li><a href="{{ url }}">{{ title }}</a></li>
					{{ /if }}
					{{ /nav:header_menu }}
					{{ if setting:cta_url }}
					<li><a class="bw_custom_buttom" href="{{ setting:cta_url }}">{{ setting:cta_label ?? 'Talk to us' }}</a></li>
					{{ /if }}
				</ul>
			</div>
		</div>
	</div>
	<!-- close_bw_menubar_wrap -->
