				<ul class="bw_all_menu">
					{{ nav:header_menu }}
					{{ if id == "page-mega" or title == "Page" }}
					<li class="bw_header_dropdown bw_mega_dropdown">
						<a href="javascript:;" class="bw_dropdown_hover">{{ title }} <span class="material-symbols-sharp">expand_more</span></a>
						{{ partial:partials/nav-page-mega }}
					</li>
					{{ elseif children }}
					<li class="bw_header_dropdown">
						<a href="{{ url }}" class="bw_dropdown_hover">{{ title }} <span class="material-symbols-sharp">expand_more</span></a>
						<div class="bw_header_dropdown_menu bw_home_dropdown_menu">
							<div class="bw_header_dropdown_menu_title"><span>{{ title }}</span></div>
							<ul>
								{{ children }}
								<li><a class="bw_header_dropdown_item" href="{{ url }}">{{ title }}</a></li>
								{{ /children }}
							</ul>
						</div>
					</li>
					{{ else }}
					<li><a href="{{ url }}">{{ title }}</a></li>
					{{ /if }}
					{{ /nav:header_menu }}
				</ul>
