						<ul class="bw_mobile_menu_ul">
							{{ nav:header_menu }}
							{{ if id == "page-mega" }}
							<li class="bw_drop_down_wrap"><a href="{{ url ?? '#' }}" class="bw_dropdown_click">{{ title }} <span class="material-symbols-sharp" aria-hidden="true">expand_more</span></a>
								<ul class="bw_dropdown_menu">
									{{ partial:partials/nav-page-links }}
								</ul>
							</li>
							{{ elseif children }}
							<li class="bw_drop_down_wrap"><a href="{{ url }}" class="bw_dropdown_click">{{ title }} <span class="material-symbols-sharp" aria-hidden="true">expand_more</span></a>
								<ul class="bw_dropdown_menu">
									{{ children }}
									<li><a class="bw_dropdown_item" href="{{ url }}">{{ title }}</a></li>
									{{ /children }}
								</ul>
							</li>
							{{ else }}
							<li><a href="{{ url }}">{{ title }}</a></li>
							{{ /if }}
							{{ /nav:header_menu }}
						</ul>
