<title>{{ seo_title ?? title ?? setting:site_name }}</title>
<meta name="title" content="{{ seo_title ?? title ?? setting:site_name }}">
{{ if seo_description or excerpt or setting:seo_description }}
<meta name="description" content="{{ seo_description ?? excerpt ?? setting:seo_description }}">
{{ /if }}
{{ if seo_keywords or setting:seo_keywords }}
<meta name="keywords" content="{{ seo_keywords ?? setting:seo_keywords }}">
{{ /if }}
<meta name="robots" content="{{ seo_robots ?? 'index, follow' }}">
<link rel="canonical" href="{{ seo_canonical ?? permalink ?? current_full_url ?? current_url }}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ setting:site_name }}">
<meta property="og:title" content="{{ seo_title ?? title ?? setting:site_name }}">
{{ if seo_description or excerpt or setting:seo_description }}
<meta property="og:description" content="{{ seo_description ?? excerpt ?? setting:seo_description }}">
{{ /if }}
<meta property="og:url" content="{{ seo_canonical ?? permalink ?? current_full_url ?? current_url }}">
{{ if seo_image or setting:seo_image }}
<meta property="og:image" content="{{ partial:partials/media-url :file="seo_image ?? setting:seo_image" }}">
{{ /if }}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ seo_title ?? title ?? setting:site_name }}">
{{ if seo_description or excerpt or setting:seo_description }}
<meta name="twitter:description" content="{{ seo_description ?? excerpt ?? setting:seo_description }}">
{{ /if }}
{{ if seo_image or setting:seo_image }}
<meta name="twitter:image" content="{{ partial:partials/media-url :file="seo_image ?? setting:seo_image" }}">
{{ /if }}
