<div class="bw_content">


                        <!-- start_bw_career_detail_section -->
                        <section class="bw_career_section bw_padding_y item">
                            <div class="bw_container">
                                <div class="bw_career_content">
                                    <h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Career</h3>
                                    <h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">React Native Developer</h2>
                                </div>
                                <div class="bw_career_detail">
                                    <div class="bw_career_detail_img"  data-aos="fade-up" data-aos-duration="1500">
                                        <img class="item__img" src="/assets/image/Rectangle 255.png" alt="">
                                    </div>
                                    <h4 class="bw_bank_name" data-aos="fade-up" data-aos-duration="1500">Urban<span>Bank</span></h4>
                                    <p data-aos="fade-up" data-aos-duration="1500">Build and maintain the Urban Bank iOS and Android apps. You will work with design and backend on transfers, cards, and login.
                                    Integer ornare tincidunt est, at pellentesque augue imperdiet quis. oriemque laudantium magna augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in magna augue. Donec varius sem vel gravida ultrices. Integer ornare tincidunt est, at pellentesque augue imperdiet quis. Suspendisse potenti. Pellentesque finibus tellus eget luctus faucibus. Sed rhoncus ipsum nec ultricies lacinia.Aliquam est augue, pretium at sodales ut, tempus eu nisi. Phasellus at vestibulum sapien. Aliquam condimentum efficitur pharetra. Cras sed odio sodales, viverra purus vitae, dignissim dui.</p>
                                    <a class="bw_custom_buttom bw_flex_btn" data-aos="fade-up" data-aos-duration="1500" href="mailto:careers@urbanbank.com">Apply now <span class="material-symbols-sharp">chevron_right</span></a>
                                </div>
                            </div>
                        </section>
                        <!-- close_career_detail_section -->
                        <!--stat_career_detail_sub_section -->

                        <section class="bw_career_team">
                            <div class="bw_container">
                                <div class="bw_career_content">
                                    <h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">Become Our Family And Join Creative Team</h2>
                                    <p data-aos="fade-up" data-aos-duration="1500">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor. Aenean massa.</p>
                                </div>
                                <div class="bw_career_group">
                                    <div class="bw_career_item" data-aos="fade-up" data-aos-duration="1500">
                                        <div class="bw_career-item-img">
                                            <img src="/assets/image/Rectangle 256.png" alt="">
                                        </div>
                                        <div class="bw_career-item-contain">
                                            <h4>Good Environment</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                                ligula egi
                                                et dolor. Aenean massa.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bw_career_item" data-aos="fade-up" data-aos-duration="1500">
                                        <div class="bw_career-item-img">
                                            <img src="/assets/image/Rectangle 258.png" alt="">
                                        </div>
                                        <div class="bw_career-item-contain">
                                            <h4>Flexible Hours</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                                ligula egi
                                                et dolor. Aenean massa.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bw_career_item" data-aos="fade-up" data-aos-duration="1500">
                                        <div class="bw_career-item-img">
                                            <img src="/assets/image/Rectangle 260.png" alt="">
                                        </div>
                                        <div class="bw_career-item-contain">
                                            <h4>Growth Path</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                                ligula egi
                                                et dolor. Aenean massa.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>

                        <!--end_career_detail_sub_section -->
                        <!--start_career_option_section -->
                        <section class="bw_career_option">
                            <div class="bw_container">
                                <div class="bw_career_content">
                                    <h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">Open Position</h2>
                                </div>
                                <div class="bw_career_option_group">
                                    <div class="bw_career_option_item" data-aos="fade-up" data-aos-duration="1500">
                                        <div class="bw_career-item-img">
                                            <img src="/assets/image/Rectangle 265.png" alt="">
                                        </div>
                                        <div class="bw_career-item-contain">
                                            <h4>React Native Developer</h4>
                                            <div class="bw_career_location">
                                                <div class="bw_career_location_icon">
                                                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                        d="M10 5.56522C10 9.70556 5.5 15 5.5 15C5.5 15 1 9.80417 1 5.56522C1 3.0437 3.0145 1 5.5 1C7.9852 1 10 3.0437 10 5.56522Z"
                                                        stroke="url(#paint0_linear_121_32)" stroke-miterlimit="10"
                                                        stroke-linejoin="round" />
                                                        <path
                                                        d="M5.49922 7.69612C6.49333 7.69612 7.29922 6.87855 7.29922 5.87003C7.29922 4.86151 6.49333 4.04395 5.49922 4.04395C4.50511 4.04395 3.69922 4.86151 3.69922 5.87003C3.69922 6.87855 4.50511 7.69612 5.49922 7.69612Z"
                                                        stroke="url(#paint1_linear_121_32)" stroke-miterlimit="10"
                                                        stroke-linejoin="round" />
                                                        <defs>
                                                            <linearGradient id="paint0_linear_121_32" x1="5.5" y1="1" x2="5.5" y2="15" gradientUnits="userSpaceOnUse">
                                                                <stop stop-color="#66DCB6" />
                                                                <stop offset="1" stop-color="#F4FAA4" />
                                                            </linearGradient>
                                                            <linearGradient id="paint1_linear_121_32" x1="5.49922" y1="4.04395" x2="5.49922" y2="7.69612" gradientUnits="userSpaceOnUse">
                                                                <stop stop-color="#66DCB6" />
                                                                <stop offset="1" stop-color="#F4FAA4" />
                                                            </linearGradient>
                                                        </defs>
                                                    </svg>
                                                </div>
                                                <p>Jakarta, DKI Jakarta</p>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                                ligula egi
                                                et dolor. Aenean massa.
                                            </p>
                                            <a class="bw_custom_buttom bw_custom_popup bw_flex_btn" href="/career/react-native-developer">Apply For This Job <span class="material-symbols-sharp">chevron_right</span></a>
                                        </div>
                                    </div>
                                    <div class="bw_career_option_item" data-aos="fade-up" data-aos-duration="1500">
                                        <div class="bw_career-item-img">
                                            <img src="/assets/image/Rectangle 265 (1).png" alt="">
                                        </div>
                                        <div class="bw_career-item-contain">
                                            <h4>Senior Digital Marketing</h4>
                                            <div class="bw_career_location">
                                                <div class="bw_career_location_icon">
                                                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M10 5.56522C10 9.70556 5.5 15 5.5 15C5.5 15 1 9.80417 1 5.56522C1 3.0437 3.0145 1 5.5 1C7.9852 1 10 3.0437 10 5.56522Z" stroke="url(#paint0_linear_121_32)" stroke-miterlimit="10" stroke-linejoin="round" />
                                                        <path
                                                        d="M5.49922 7.69612C6.49333 7.69612 7.29922 6.87855 7.29922 5.87003C7.29922 4.86151 6.49333 4.04395 5.49922 4.04395C4.50511 4.04395 3.69922 4.86151 3.69922 5.87003C3.69922 6.87855 4.50511 7.69612 5.49922 7.69612Z"
                                                        stroke="url(#paint1_linear_121_32)" stroke-miterlimit="10"
                                                        stroke-linejoin="round" />
                                                        <defs>
                                                            <linearGradient id="paint0_linear_121_32" x1="5.5" y1="1" x2="5.5" y2="15" gradientUnits="userSpaceOnUse">
                                                                <stop stop-color="#66DCB6" />
                                                                <stop offset="1" stop-color="#F4FAA4" />
                                                            </linearGradient>
                                                            <linearGradient id="paint1_linear_121_32" x1="5.49922" y1="4.04395" x2="5.49922" y2="7.69612" gradientUnits="userSpaceOnUse">
                                                                <stop stop-color="#66DCB6" />
                                                                <stop offset="1" stop-color="#F4FAA4" />
                                                            </linearGradient>
                                                        </defs>
                                                    </svg>
                                                </div>
                                                <p>Jakarta, DKI Jakarta</p>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                                ligula egi
                                                et dolor. Aenean massa.
                                            </p>
                                            <a class="bw_custom_buttom bw_custom_popup bw_flex_btn" href="/career/react-native-developer">Apply For This Job <span class="material-symbols-sharp">chevron_right</span></a>
                                        </a>
                                    </div>
                                </div>
                                <div class="bw_career_option_item" data-aos="fade-up" data-aos-duration="1500">
                                    <div class="bw_career-item-img">
                                        <img src="/assets/image/Rectangle 265 (2).png" alt="">
                                    </div>
                                    <div class="bw_career-item-contain">
                                        <h4>Mobile Developer</h4>
                                        <div class="bw_career_location">
                                            <div class="bw_career_location_icon">
                                                <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                    d="M10 5.56522C10 9.70556 5.5 15 5.5 15C5.5 15 1 9.80417 1 5.56522C1 3.0437 3.0145 1 5.5 1C7.9852 1 10 3.0437 10 5.56522Z"
                                                    stroke="url(#paint0_linear_121_32)" stroke-miterlimit="10"
                                                    stroke-linejoin="round" />
                                                    <path
                                                    d="M5.49922 7.69612C6.49333 7.69612 7.29922 6.87855 7.29922 5.87003C7.29922 4.86151 6.49333 4.04395 5.49922 4.04395C4.50511 4.04395 3.69922 4.86151 3.69922 5.87003C3.69922 6.87855 4.50511 7.69612 5.49922 7.69612Z"
                                                    stroke="url(#paint1_linear_121_32)" stroke-miterlimit="10"
                                                    stroke-linejoin="round" />
                                                    <defs>
                                                        <linearGradient id="paint0_linear_121_32" x1="5.5" y1="1"
                                                        x2="5.5" y2="15" gradientUnits="userSpaceOnUse">
                                                        <stop stop-color="#66DCB6" />
                                                        <stop offset="1" stop-color="#F4FAA4" />
                                                    </linearGradient>
                                                    <linearGradient id="paint1_linear_121_32" x1="5.49922" y1="4.04395" x2="5.49922" y2="7.69612" gradientUnits="userSpaceOnUse">
                                                        <stop stop-color="#66DCB6" />
                                                        <stop offset="1" stop-color="#F4FAA4" />
                                                    </linearGradient>
                                                </defs>
                                            </svg>
                                        </div>
                                        <p>Jakarta, DKI Jakarta</p>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                        ligula egi
                                        et dolor. Aenean massa.
                                    </p>
                                    <a class="bw_custom_buttom bw_custom_popup bw_flex_btn" href="/career/react-native-developer">Apply For This Job <span class="material-symbols-sharp">chevron_right</span></a>
                                </a>
                            </div>
                        </div>
                        <div class="bw_career_option_item" data-aos="fade-up" data-aos-duration="1500">
                            <div class="bw_career-item-img">
                                <img src="/assets/image/Rectangle 265 (3).png" alt="">
                            </div>
                            <div class="bw_career-item-contain">
                                <h4>Senior Project Manager</h4>
                                <div class="bw_career_location">
                                    <div class="bw_career_location_icon">
                                        <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 5.56522C10 9.70556 5.5 15 5.5 15C5.5 15 1 9.80417 1 5.56522C1 3.0437 3.0145 1 5.5 1C7.9852 1 10 3.0437 10 5.56522Z" stroke="url(#paint0_linear_121_32)" stroke-miterlimit="10"
                                            stroke-linejoin="round" />
                                            <path
                                            d="M5.49922 7.69612C6.49333 7.69612 7.29922 6.87855 7.29922 5.87003C7.29922 4.86151 6.49333 4.04395 5.49922 4.04395C4.50511 4.04395 3.69922 4.86151 3.69922 5.87003C3.69922 6.87855 4.50511 7.69612 5.49922 7.69612Z"
                                            stroke="url(#paint1_linear_121_32)" stroke-miterlimit="10"
                                            stroke-linejoin="round" />
                                            <defs>
                                                <linearGradient id="paint0_linear_121_32" x1="5.5" y1="1" x2="5.5" y2="15" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#66DCB6" />
                                                    <stop offset="1" stop-color="#F4FAA4" />
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_121_32" x1="5.49922" y1="4.04395" x2="5.49922" y2="7.69612" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#66DCB6" />
                                                    <stop offset="1" stop-color="#F4FAA4" />
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                    </div>
                                    <p>Jakarta, DKI Jakarta</p>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                    ligula egi
                                    et dolor. Aenean massa.
                                </p>
                                <a class="bw_custom_buttom bw_custom_popup bw_flex_btn" href="/career/react-native-developer">Apply For This Job <span class="material-symbols-sharp">chevron_right</span></a>
                            </div>
                        </div>
                        <div class="bw_career_option_item" data-aos="fade-up" data-aos-duration="1500">
                            <div class="bw_career-item-img">
                                <img src="/assets/image/Rectangle 265 (4).png" alt="">
                            </div>
                            <div class="bw_career-item-contain">
                                <h4>DEVELOPERS</h4>
                                <div class="bw_career_location">
                                    <div class="bw_career_location_icon">
                                        <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                            d="M10 5.56522C10 9.70556 5.5 15 5.5 15C5.5 15 1 9.80417 1 5.56522C1 3.0437 3.0145 1 5.5 1C7.9852 1 10 3.0437 10 5.56522Z"
                                            stroke="url(#paint0_linear_121_32)" stroke-miterlimit="10"
                                            stroke-linejoin="round" />
                                            <path
                                            d="M5.49922 7.69612C6.49333 7.69612 7.29922 6.87855 7.29922 5.87003C7.29922 4.86151 6.49333 4.04395 5.49922 4.04395C4.50511 4.04395 3.69922 4.86151 3.69922 5.87003C3.69922 6.87855 4.50511 7.69612 5.49922 7.69612Z"
                                            stroke="url(#paint1_linear_121_32)" stroke-miterlimit="10"
                                            stroke-linejoin="round" />
                                            <defs>
                                                <linearGradient id="paint0_linear_121_32" x1="5.5" y1="1" x2="5.5" y2="15" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#66DCB6" />
                                                    <stop offset="1" stop-color="#F4FAA4" />
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_121_32" x1="5.49922" y1="4.04395" x2="5.49922" y2="7.69612" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#66DCB6" />
                                                    <stop offset="1" stop-color="#F4FAA4" />
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                    </div>
                                    <p>Jakarta, DKI Jakarta</p>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                    ligula egi
                                    et dolor. Aenean massa.
                                </p>
                                <a class="bw_custom_buttom bw_custom_popup bw_flex_btn" href="/career/react-native-developer">Apply For This Job <span class="material-symbols-sharp">chevron_right</span></a>
                            </div>
                        </div>
                        <div class="bw_career_option_item" data-aos="fade-up" data-aos-duration="1500">
                            <div class="bw_career-item-img">
                                <img src="/assets/image/Rectangle 265 (5).png" alt="">
                            </div>
                            <div class="bw_career-item-contain">
                                <h4>Mobile Developer</h4>
                                <div class="bw_career_location">
                                    <div class="bw_career_location_icon">
                                        <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                            d="M10 5.56522C10 9.70556 5.5 15 5.5 15C5.5 15 1 9.80417 1 5.56522C1 3.0437 3.0145 1 5.5 1C7.9852 1 10 3.0437 10 5.56522Z"
                                            stroke="url(#paint0_linear_121_32)" stroke-miterlimit="10"
                                            stroke-linejoin="round" />
                                            <path
                                            d="M5.49922 7.69612C6.49333 7.69612 7.29922 6.87855 7.29922 5.87003C7.29922 4.86151 6.49333 4.04395 5.49922 4.04395C4.50511 4.04395 3.69922 4.86151 3.69922 5.87003C3.69922 6.87855 4.50511 7.69612 5.49922 7.69612Z"
                                            stroke="url(#paint1_linear_121_32)" stroke-miterlimit="10"
                                            stroke-linejoin="round" />
                                            <defs>
                                                <linearGradient id="paint0_linear_121_32" x1="5.5" y1="1" x2="5.5" y2="15" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#66DCB6" />
                                                    <stop offset="1" stop-color="#F4FAA4" />
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_121_32" x1="5.49922" y1="4.04395" x2="5.49922" y2="7.69612" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#66DCB6" />
                                                    <stop offset="1" stop-color="#F4FAA4" />
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                    </div>
                                    <p>Jakarta, DKI Jakarta</p>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                    ligula egi
                                    et dolor. Aenean massa.
                                </p>
                                <a class="bw_custom_buttom bw_custom_popup bw_flex_btn" href="/career/react-native-developer">Apply For This Job <span class="material-symbols-sharp">chevron_right</span></a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <!--start_career_potion_section -->
            <!-- start_bw_join_contact_section -->
            <section class="bw_join_contact_section bw_career_contact_section bw_padding_y" data-aos="fade-right" data-aos-duration="1500">
                <div class="bw_container">
                    <div class="bw_join_contact_content">
                        <h2 class="bw_sub_title">Connect your finance with urban bank</h2>
                        {{ partial:partials/join-form }}
                        <svg-path-elements class="line_canvas" id="FIVE" count="25"></svg-path-elements>
                    </div>
                </div>
            </section>
            <!-- close_bw_join_contact_section -->
            <!-- start_bw_team_popup -->
            <div id="bw_team_popup" class="white-popup-block mfp-hide bw_career_popup">
                <div class="bw_career_popup_wrap " data-aos="fade-up" data-aos-duration="1500">
                    <div class="bw_container">
                        {{ partial:partials/career-form }}
                    </div>
                </div>
            </div>
            <!-- close_bw_team_popup -->




        
                </div>
