<div class="bw_content">
					<section class="bw_career_section bw_padding_y item">
						<div class="bw_container">
							<div class="bw_career_content">
								<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Career</h3>
								<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">{{ title }}</h2>
							</div>
							<div class="bw_career_detail">
								<div class="bw_career_detail_img" data-aos="fade-up" data-aos-duration="1500">
									{{ if image }}
									<img class="item__img" src="{{ image }}" alt="{{ title }}">
									{{ else }}
									<img class="item__img" src="/assets/image/Rectangle 255.png" alt="{{ title }}">
									{{ /if }}
								</div>
								{{ if setting:site_name }}<h4 class="bw_bank_name" data-aos="fade-up" data-aos-duration="1500">{{ setting:site_name }}</h4>{{ /if }}
								{{ if location }}
								<div class="bw_career_location" data-aos="fade-up" data-aos-duration="1500">
									<div class="bw_career_location_icon">
										<svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
											<path d="M10 5.56522C10 9.70556 5.5 15 5.5 15C5.5 15 1 9.80417 1 5.56522C1 3.0437 3.0145 1 5.5 1C7.9852 1 10 3.0437 10 5.56522Z" stroke="url(#bw_pin_detail)" stroke-miterlimit="10" stroke-linejoin="round"/>
											<path d="M5.49922 7.69612C6.49333 7.69612 7.29922 6.87855 7.29922 5.87003C7.29922 4.86151 6.49333 4.04395 5.49922 4.04395C4.50511 4.04395 3.69922 4.86151 3.69922 5.87003C3.69922 6.87855 4.50511 7.69612 5.49922 7.69612Z" stroke="url(#bw_pin_detail2)" stroke-miterlimit="10" stroke-linejoin="round"/>
											<defs>
												<linearGradient id="bw_pin_detail" x1="5.5" y1="1" x2="5.5" y2="15" gradientUnits="userSpaceOnUse">
													<stop stop-color="#66DCB6"/>
													<stop offset="1" stop-color="#F4FAA4"/>
												</linearGradient>
												<linearGradient id="bw_pin_detail2" x1="5.49922" y1="4.04395" x2="5.49922" y2="7.69612" gradientUnits="userSpaceOnUse">
													<stop stop-color="#66DCB6"/>
													<stop offset="1" stop-color="#F4FAA4"/>
												</linearGradient>
											</defs>
										</svg>
									</div>
									<p>{{ location }}</p>
								</div>
								{{ /if }}
								{{ if excerpt }}<p data-aos="fade-up" data-aos-duration="1500">{{ excerpt }}</p>{{ /if }}
								{{ if content_sections or content }}<div class="bw_career_detail_copy" data-aos="fade-up" data-aos-duration="1500">{{ partial:partials/content-sections }}</div>{{ /if }}
								<a class="bw_custom_buttom bw_flex_btn bw_custom_popup" data-aos="fade-up" data-aos-duration="1500" href="#bw_team_popup">Apply now <span class="material-symbols-sharp">chevron_right</span></a>
							</div>
						</div>
					</section>

					<section class="bw_career_option">
						<div class="bw_container">
							<div class="bw_career_content">
								<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">Other open roles</h2>
							</div>
							<div class="bw_career_option_group">
								{{ this_role = slug }}
								{{ collection:careers sort="order:asc" }}
								{{ unless slug == this_role }}
								{{ partial:partials/career-card button_label="View role" card_link="1" }}
								{{ /unless }}
								{{ /collection:careers }}
							</div>
						</div>
					</section>

					<section class="bw_join_contact_section bw_career_contact_section bw_padding_y" data-aos="fade-right" data-aos-duration="1500">
						<div class="bw_container">
							<div class="bw_join_contact_content">
								<h2 class="bw_sub_title">Stay on our hiring list</h2>
								{{ partial:partials/join-form }}
							</div>
						</div>
					</section>

					<div id="bw_team_popup" class="white-popup-block mfp-hide bw_career_popup">
						<div class="bw_career_popup_wrap" data-aos="fade-up" data-aos-duration="1500">
							<div class="bw_container">
								{{ partial:partials/career-form }}
							</div>
						</div>
					</div>
				</div>
