<div class="bw_content">
					<section class="bw_feature_detail_section bw_padding_y">
						<div class="bw_container">
							<div class="bw_feature_detail_content">
								<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Product</h3>
								<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">{{ title }}</h2>
								<div class="bw_feature_detail_textarea">
									{{ if excerpt }}<h4 data-aos="fade-up" data-aos-duration="1500">{{ excerpt }}</h4>{{ /if }}
									{{ if content_sections or content }}<div class="bw_feature_detail_copy" data-aos="fade-up" data-aos-duration="1500">{{ partial:partials/content-sections }}</div>{{ /if }}
								</div>
							</div>
						</div>
					</section>

					<section class="bw_feature_page_section bw_padding_y">
						<div class="bw_container">
							<div class="bw_feature_page_content bw_title_wrap_center">
								<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Products</h3>
								<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">Other products</h2>
							</div>
							<div class="bw_feature_page_wrap">
								{{ this_feature = slug }}
								{{ related_shown = 0 }}
								{{ collection:features sort="order:asc" }}
								{{ unless slug == this_feature }}
								{{ if related_shown < 4 }}
								<div class="bw_feature_page_box" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
									{{ if image }}
									<div class="bw_feature_page_icon">
										<img src="{{ image }}" alt="{{ title }}">
									</div>
									{{ /if }}
									<div class="bw_feature_page_text">
										<h4><a href="{{ url }}">{{ title }}</a></h4>
										{{ if excerpt }}<p>{{ excerpt }}</p>{{ /if }}
									</div>
								</div>
								{{ related_shown += 1 }}
								{{ /if }}
								{{ /unless }}
								{{ /collection:features }}
							</div>
						</div>
					</section>
				</div>
