<div class="bw_content">
					<!-- start_bw_grid-detail-2_hero_section -->
					<section class="bw_grid-detail-2_hero_section bw_padding_y item">
						<div class="bw_container">
							<div class="bw_grid-detail-2_hero_wrap">
								<div class="bw_grid-detail-2_images " data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
									<img class="item__img" src="/assets/image/Rectangle 51 (1).png" alt="">	
								</div>
								<div class="bw_grid-detail-2_hero_content">
									<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Bank</h3>
									<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">{{ title }}</h2>
									<p data-aos="fade-up" data-aos-duration="1500">Sed ut perspiciatis unde omnis iste natus error sit voluptate maccusantiua doloremque laudantium magna augue.</p>
									<p class="date" data-aos="fade-up" data-aos-duration="1500">{{ date format='F j, Y' }}</p>
								</div>
							</div>
							<div class="bw_grid_detail_group">
								<div class="bw_grid_detail_contain">
									<div class="bw_grid_contain_wrap" data-aos="fade-up" data-aos-duration="1500">
										<h3>Bank customer</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptate maccusantiua dolor emque laudantium magna a
											ugue. Proin in magna augue. Donec varius sem velat gravida ultrices. Integer ornare tinci dunt est, at pellente
											esque augue imperdietai quis. Suspendisse potenti. Pellentesqu  finibus tellus eget luctus faucibus. Sed rho nc
											us ipsum nec ultricies lacinia. In hac habitasse platea dictumst.
										</p>
									</div>
									<div class="bw_grid_contain_wrap" data-aos="fade-up" data-aos-duration="1500">
										<h3>What is mononucleosis?</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptate maccusantiua dolor emque laudantium magna a
											us ipsum nec ultricies lacinia. In hac habitasse platea dictumst.
										</p>
									</div>
									<div class="bw_grid_contain_wrap" data-aos="fade-up" data-aos-duration="1500">
										<h3>You get:</h3>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptate maccusantiua dolor emque laudantium magna a
											ugue. Proin in magna augue. Donec varius sem velat gravida ultrices. Integer ornare tinci dunt est, at pellente
											esque augue imperdietai quis. Suspendisse potenti. Pellentesqu  finibus tellus eget luctus faucibus. Sed rho nc
											us ipsum nec ultricies lacinia. In hac habitasse platea dictumst.
										</p>
									</div>
									<div class="bw_grid_contain_wrap bw_grid_contain_wrappp">
										<div class="bw_grid_contain_wrap-img content__item" data-aos="fade-up" data-aos-duration="1500">
											<img class="content__item-img" src="/assets/image/Rectangle 228.png">
											<div class="content__item-title"></div>
										</div>
										<div class="bw_grid_contain_wrap-detail" data-aos="fade-up" data-aos-duration="1500">
											<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut”
											</p>
										</div>
									</div>
									<div class="bw_grid_contain_wrap bw_grid_contain_wraper">
										<h3 data-aos="fade-up" data-aos-duration="1500">Don't miss these</h3>
										<div class="bw_grid_contain_wrap-img content__item" data-aos="fade-up" data-aos-duration="1500">
											<img class="content__item-img" src="/assets/image/Rectangle 230.png">
											<div class="content__item-title"></div>
										</div>
										<h3 data-aos="fade-up" data-aos-duration="1500">Splurge or Save Last Mini Pampering Gift Ideas</h3>
										<p data-aos="fade-up" data-aos-duration="1500">Sed ut perspiciatis unde omnis iste natus error sit vol uptate maccusantiua dolor emque laudantium mag na 
											a ugue. Proin in magna augue. Donec varius semi velat gravida ultrices. Integer ornare tinci dunt est,ie at pell
											ente esque augue imperdietai quis. Suspen disse potenti.Proin in magna augue. Donec varius sem velgravida   ultrices. Integer ornare tincidunt est, at pellentesque augue imperdiet quis. Suspendisse potenti. Pellentesque finibus tellus eget luctus faucibus.
										</p>
										<p data-aos="fade-up" data-aos-duration="1500">Sed ut perspiciatis unde omnis iste natus error sit vol uptate maccusantiua dolor emque laudantium mag na 
											a ugue. Proin in magna augue.<span> Donec varius semi velat gravida ultrices.</span> Integer ornare tinci dunt est,ie at pell
											ente esque augue imperdietai quis. Suspen disse potenti.Proin in magna augue. Donec varius sem velgravida   ultrices. Integer ornare tincidunt est, at pellentesque augue imperdiet quis. Suspendisse potenti. Pellentesque finibus tellus eget luctus faucibus.
										</p>
										<p data-aos="fade-up" data-aos-duration="1500">Sed ut perspiciatis unde omnis iste natus error sit vol uptate maccusantiua dolor emque laudantium mag na 
											a ugue. Proin in magna augue. Donec varius semi velat gravida ultrices. Integer ornare tinci dunt est,ie at pell
											ente esque augue imperdietai quis. Suspen disse potenti.Proin in magna augue. Donec varius sem velgravida   ultrices.<span> Integer ornare tincidunt est,</span> at pellentesque augue imperdiet quis. Suspendisse potenti. Pellentesque
											Aliquam est augue, pretium at sodales ut, tempus eu nisi. Phasellus at vestibulum sapien. Aliquam condimen
											tum efficitur pharetra. Cras sed odio sodales,<span> viverra purus vitae,</span> dignissim dui.finibus tellus eget luctus fauci 
											Duis bibendum placerat ligula eget volutpat.
										</p>
										<p data-aos="fade-up" data-aos-duration="1500">Sed ut perspiciatis unde omnis iste natus error sit vol uptate maccusantiua dolor emque laudantium mag na 
											a ugue. Proin in magna augue. Donec varius semi velat gravida ultrices. Integer ornare tinci dunt est,ie at pell
											ente esque augue imperdietai quis. Suspen disse potenti.Proin in magna augue. Donec varius sem velgravida   ultrices. Integer ornare tincidunt est, at pellentesque augue imperdiet quis. Suspendisse potenti. Pellentesque finibus tellus eget luctus faucibus.
										</p>
										<p data-aos="fade-up" data-aos-duration="1500">ente esque augue imperdietai quis. Suspen disse potenti.Proin in magna augue. Donec varius sem velgravida   ultrices. Integer ornare tincidunt est, at pellentesque augue imperdiet quis. Suspendisse potenti. Pellentesque finibus tellus eget luctus faucibus.</p>
										<div class="bw_social_icon_box" data-aos="fade-up" data-aos-duration="1500">
											<ul>
												<li><a href="javascript:;"><img src="/assets/image/facebook.svg" alt=""></a></li>
												<li><a href="javascript:;"><img src="/assets/image/twitter.svg" alt=""></a></li>
												<li><a href="javascript:;"><img src="/assets/image/instagram.svg" alt=""></a></li>
												<li><a href="javascript:;"><img src="/assets/image/youtube.svg" alt=""></a></li>
											</ul>
										</div>
										<p class="date" data-aos="fade-up" data-aos-duration="1500" style="color: white">September 19, 2023</p>
									</div>
								</div>
								<div class="bw_grid_detail_post">
									<div  data-aos="fade-up" data-aos-duration="1500" class="bw_grid_detail_resent-post">
										<h4>Recent Posts</h4>
										<p>Et harum quidem rerum facilis est et expedi
											ta distinctio
										</p>
										<p class="date" >September 19, 2023</p>
										<p>Et harum quidem rerum facilis est et expedi
										ta distinctio</p>
										<p class="date"  >September 19, 2023</p>
									</div>
									<div class=" bw_grid_detail_subscribe" data-aos="fade-up" data-aos-duration="1500">
										<h4 >Subsribe Our Newsletter</h4>
										<p>Et harum quidem rerum facilis est et expedi ta distinctio</p>
										{{ partial:partials/join-form placeholder="Enter Your Email" button="Sent" }}
									</div>
								</div>
							</div>
							<div class="bw_grid_detail_comment">
								<h3 class="head" data-aos="fade-up" data-aos-duration="1500">3 Comments</h3>
								<div class="bw_grid_detail_comment_group">
									<div class="bw_grid_detail_comment_item" data-aos="fade-up" data-aos-duration="1500">
										<div class="bw_grid_comment_img">
											<img src="/assets/image/Rectangle 242.png">
										</div>
										<div class="bw_grid_comment_contain">
											<p class="head_wrap">Fransis Josef <span>September 19, 2023</span></p>
											<p>Sed ut perspiciatis unde omnis iste natus error sit voluptate maccusantiua dolor emque laudantium magna a ugue.</p>
											<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Bank</h3>
										</div>
									</div>
									<div class="bw_grid_detail_comment_item" data-aos="fade-up" data-aos-duration="1500">
										<div class="bw_grid_comment_img">
											<img src="/assets/image/Rectangle 243.png">
										</div>
										<div class="bw_grid_comment_contain">
											<p class="head_wrap">Fransis Josef <span>September 19, 2023</span></p>
											<p>Sed ut perspiciatis unde omnis iste natus error sit voluptate maccusantiua dolor emque laudantium magna a ugue.</p>
											<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Bank</h3>
										</div>
									</div>
									<div class="bw_grid_detail_comment_item" data-aos="fade-up" data-aos-duration="1500">
										<div class="bw_grid_comment_img">
											<img src="/assets/image/Rectangle 244.png">
										</div>
										<div class="bw_grid_comment_contain">
											<p class="head_wrap">Fransis Josef <span>September 19, 2023</span></p>
											<p>Sed ut perspiciatis unde omnis iste natus error sit voluptate maccusantiua dolor emque laudantium magna a ugue.</p>
											<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Bank</h3>
										</div>
									</div>
								</div>
							</div>
							<div class="bw_grid_detail_form">
								<h3 data-aos="fade-up" data-aos-duration="1500">Leave A Comment</h3>
								<p data-aos="fade-up" data-aos-duration="1500">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium magna augue.</p>
								<div class="bw_contact_form" data-aos="fade-up" data-aos-duration="1500">
									{{ partial:partials/comment-form }}
								</div>
							</div>
						</section>
						<!-- close_bw_grid-detail-2_hero_section -->
					</div>
