{{ if style == "two" }}
<section class="bw_blog_section bw_blog_section_two bw_padding_y">
	<div class="bw_container">
		<div class="bw_blog_section_two_wrap">
			<div class="bw_blog_content">
				<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">{{ kicker ?? 'Insights' }}</h3>
				<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">{{ heading ?? 'Fees, holds, and transfers' }}</h2>
			</div>
			{{ partial:partials/home-two-blogs }}
		</div>
	</div>
</section>
{{ elseif style == "list" }}
<section class="bw_blog_page_section bw_blog_page_list bw_padding_y">
	<div class="bw_container">
		<div class="bw_blog_content">
			<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">{{ kicker ?? 'Blog' }}</h3>
			<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">{{ heading ?? 'Fees, holds, and transfers' }}</h2>
		</div>
		<div class="bw_blog_page_wrap">
			{{ collection:blogs sort="date:desc" }}
			<div class="bw_blog_card_box" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
				<div class="bw_blog_card_cont">
					<div class="bw_blog_badge"><span>Insight</span></div>
					<h5><a href="{{ url }}">{{ title }}</a></h5>
					{{ if excerpt }}<p>{{ excerpt }}</p>{{ /if }}
				</div>
				<a class="bw_custom_buttom" href="{{ url }}">{{ setting:learn_more_label ?? 'Learn more' }}</a>
			</div>
			{{ /collection:blogs }}
		</div>
		{{ if show_load_more }}
		<div class="bw_blog_page_btn" data-aos="fade-up" data-aos-duration="1500">
			<a class="bw_custom_buttom bw_flex_btn bw_load_more" href="#" data-load-more=".bw_blog_card_box" data-step="4">Load more <span class="material-symbols-outlined">refresh</span></a>
		</div>
		{{ /if }}
	</div>
</section>
{{ elseif style == "grid" }}
<section class="bw_blog_page_section bw_padding_y">
	<div class="bw_container">
		<div class="bw_blog_content">
			<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">{{ kicker ?? 'Blog' }}</h3>
			<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">{{ heading ?? 'Fees, holds, and transfers' }}</h2>
		</div>
		<div class="bw_blog_page_wrap">
			{{ collection:blogs sort="date:desc" limit="{limit ?? 3}" }}
			<div class="bw_blog_card_box" data-aos="fade-up" data-aos-duration="1500">
				{{ if image }}
				<div class="bw_blog_card_img">
					<img src="{{ image }}" alt="{{ title }}">
					<div class="bw_blog_badge"><span>Insight</span></div>
				</div>
				{{ /if }}
				<div class="bw_blog_card_cont">
					<h5><a href="{{ url }}">{{ title }}</a></h5>
					{{ if excerpt }}<p>{{ excerpt }}</p>{{ /if }}
					<div class="bw_blog_button_wrap">
						<a class="bw_custom_buttom bw_flex_btn" href="{{ url }}">{{ setting:learn_more_label ?? 'Learn more' }} <span class="material-symbols-sharp">chevron_right</span></a>
						{{ if date }}<p>{{ date format="F j, Y" }}</p>{{ /if }}
					</div>
				</div>
			</div>
			{{ /collection:blogs }}
		</div>
		{{ if show_load_more }}
		<div class="bw_blog_page_btn" data-aos="fade-up" data-aos-duration="1500">
			<a class="bw_custom_buttom bw_flex_btn bw_load_more" href="#" data-load-more=".bw_blog_card_box" data-step="4">Load more <span class="material-symbols-outlined">refresh</span></a>
		</div>
		{{ /if }}
	</div>
</section>
{{ else }}
<section class="bw_blog_section bw_padding_y">
	<div class="bw_container">
		<div class="bw_blog_content">
			<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">{{ kicker ?? 'Insights' }}</h3>
			<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">{{ heading ?? 'Fees, holds, and transfers' }}</h2>
		</div>
		{{ partial:partials/home-blogs }}
		<div class="bw_arrow_wrap" data-aos="fade-up" data-aos-duration="1500">
			<div class="swiper-button-prev"><img src="/assets/image/arrow-left.svg" alt=""></div>
			<div class="swiper-button-next"><img src="/assets/image/arrow-right.svg" alt=""></div>
		</div>
	</div>
</section>
{{ /if }}
