<section class="bw_home_hero_section bw_padding_y">
	<div class="bw_container">
		<div class="bw_hero_content">
			{{ if kicker }}<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">{{ kicker }}</h3>{{ /if }}
			<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">{{ heading ?? title }}</h2>
			{{ if text }}<p data-aos="fade-up" data-aos-duration="1500">{{ text }}</p>{{ /if }}
			{{ if button_label }}
			<p data-aos="zoom-in" data-aos-duration="1500"><a class="bw_custom_buttom" href="{{ button_url ?? setting:cta_url ?? '/contact' }}">{{ button_label }}</a></p>
			{{ /if }}
		</div>
	</div>
</section>
