<section class="bw_partners_section{{ if style == "two" }} bw_partners_section_two{{ /if }} bw_padding_y">
	<div class="bw_container">
		<div class="bw_partners_main">
			<div class="bw_partners_content bw_title_wrap_center">
				<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">{{ kicker ?? 'Partners' }}</h3>
				<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">{{ heading ?? 'Illustrative partner marks' }}</h2>
			</div>
			{{ if style == "two" }}
			{{ partial:partials/partners-orbit }}
			{{ else }}
			{{ partial:partials/partners }}
			{{ /if }}
		</div>
	</div>
</section>
