{{ if style == "grid" }}
<section class="bw_team_section bw_padding_y">
	<div class="bw_container">
		<div class="bw_team_content bw_title_wrap_center">
			<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">{{ kicker ?? 'Team' }}</h3>
			<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">{{ heading ?? 'Our best skill person' }}</h2>
		</div>
		<div class="bw_team_wrap">
			{{ collection:team sort="order:asc" }}
			<div class="bw_team_detail_box" data-aos="zoom-out" data-aos-duration="1500">
				{{ if image }}
				<div class="bw_team_detail_img bw_images_cover">
					<img src="{{ image }}" alt="{{ title }}">
				</div>
				{{ /if }}
				<h6><a href="{{ url }}">{{ title }}</a></h6>
				{{ if role }}<p>{{ role }}</p>{{ /if }}
			</div>
			{{ /collection:team }}
		</div>
		<div class="bw_team_btn" data-aos="fade-up" data-aos-duration="1500">
			<a class="bw_custom_buttom bw_flex_btn" href="/career">Open roles <span class="material-symbols-outlined">refresh</span></a>
		</div>
	</div>
</section>
{{ else }}
<section class="bw_team_slider_section bw_padding_y">
	<div class="bw_container">
		<div class="bw_team_slider_wrap">
			<div class="bw_team_content">
				<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">{{ kicker ?? 'Team' }}</h3>
				<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">{{ heading ?? 'Our people' }}</h2>
			</div>
			<div class="bw_team_slider_wrap" data-aos="fade-up" data-aos-duration="1500">
				<div class="swiper mySwiper">
					<div class="swiper-wrapper">
						{{ collection:team sort="order:asc" }}
						<div class="swiper-slide">
							<div class="bw_team_detail_box">
								{{ if image }}
								<div class="bw_team_detail_img bw_images_cover">
									<img src="{{ image }}" alt="{{ title }}">
								</div>
								{{ /if }}
								<h6><a href="{{ url }}">{{ title }}</a></h6>
								{{ if role }}<p>{{ role }}</p>{{ /if }}
							</div>
						</div>
						{{ /collection:team }}
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
</section>
{{ /if }}
