{{ if style == "two" }}
<section class="bw_testimonial_two_section bw_padding_y" id="bw_testimonial_two_{{ id }}">
	<div class="bw_container">
		<div class="bw_testimonial_wrap">
			<div class="bw_testimonial_content">
				<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">{{ kicker ?? setting:testimonial_kicker ?? 'Testimonial' }}</h3>
				<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">{{ heading ?? setting:testimonial_title ?? 'Satisfied Our Customers' }}</h2>
			</div>
			{{ partial:partials/home-two-testimonials }}
		</div>
	</div>
</section>
{{ else }}
<section class="bw_testimonial_section bw_padding_y">
	<div class="bw_container">
		<div class="bw_testimonial_wrap">
			<div class="bw_testimonial_content">
				<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">{{ kicker ?? setting:testimonial_kicker ?? 'Testimonial' }}</h3>
				<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">{{ heading ?? setting:testimonial_title ?? 'Satisfied Our Customers' }}</h2>
			</div>
			{{ partial:partials/home-testimonials }}
		</div>
	</div>
</section>
{{ /if }}
