<div class="bw_content">
					<section class="bw_grid-detail-2_hero_section bw_padding_y item">
						<div class="bw_container">
							<div class="bw_grid-detail-2_hero_wrap">
								{{ if image }}
								<div class="bw_grid-detail-2_images" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
									<img class="item__img" src="{{ image }}" alt="{{ title }}">
								</div>
								{{ /if }}
								<div class="bw_grid-detail-2_hero_content">
									<h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Offer</h3>
									<h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">{{ title }}</h2>
									{{ if excerpt }}<p data-aos="fade-up" data-aos-duration="1500">{{ excerpt }}</p>{{ /if }}
									{{ if date }}<p class="date" data-aos="fade-up" data-aos-duration="1500">{{ date format="F j, Y" }}</p>{{ /if }}
								</div>
							</div>
							<div class="bw_grid_detail_group">
								<div class="bw_grid_detail_contain">
									{{ if content_sections or content }}
									<div class="bw_grid_contain_wrap bw_feature_detail_copy" data-aos="fade-up" data-aos-duration="1500">
										{{ partial:partials/content-sections }}
										<p><a class="bw_custom_buttom" href="{{ setting:cta_url ?? '/contact' }}">{{ setting:cta_label ?? 'Talk to us' }}</a></p>
									</div>
									{{ /if }}
								</div>
										<div class="bw_grid_detail_post">
									<div data-aos="fade-up" data-aos-duration="1500" class="bw_grid_detail_resent-post">
										<h4>Other offers</h4>
										{{ collection:offers sort="order:asc" :id:not="id" }}
										<div class="bw_recent_post_item">
											<p><a href="{{ url }}">{{ title }}</a></p>
										</div>
										{{ /collection:offers }}
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
